html{
	box-sizing: border-box;
  }
     *{
	box-sizing: inherit;
  }
  body{
    margin:0px;
    padding:0px;
   
  }
  .container{
    margin-top: 20px;
    margin-bottom:20px;
    font-weight:bold;
  
  }
  /* input.textinput {
  height: 2em;
  border: 1px solid rgba(0, 0, 0, .3);
  padding-left: 6px;
  font-family: inherit;
  font-size: .875em;
} */
  input::placeholder{
    text-align: center;
     }
  form {
    max-width: 40em;
    border: 1px solid #666;
    border-radius: 10px;
    background-color: #f2f5d5;
  }